h1{
    color: blue;
    background-color: lightblue;
    text-align: center;
    
}
ul{
    background-color: darkblue;
    color: black;
}
a{
    color: yellow;
}
body{
    background-image: url(moorish-pattern_644416-582.jpg);
}
p{
    color: white;
}
